body{
  padding:0;
  margin:0;
  width:100vw;
  min-height:100vh;
  box-sizing:border-box;
}
nav{ 
  display:flex;
  position: fixed;
  font-family:Raleway;
  background-color:#be3144;
  padding:0;
  margin:0;
  width:100%;
  max-width: 100%;
  height:5rem;
  justify-content: space-between;
}

nav ul{
  display:flex;
  flex:0 1 100%;
  list-style:none;
  justify-content:space-evenly;
  align-items: center;
  padding:0;
  margin:0;
  max-width:100%;
  height: 100%;
}

#profile{
  display: flex;
  flex:0 0 ;
  padding:0;
  margin:0;
  align-items: center;
  justify-self:center;
  color:white;
}
#profile a{
  color:black;
}

#profile:hover{
  height: 100%;
  width: 100%;
  background-color: rgb(197, 168, 5);
}

#profile img{
  justify-self: start;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
#profile img:hover{
  width: 5rem;
  height: auto;
}

nav li{
  display: flex;
  height:100%;
  align-self: center;
}
nav li a {
  color:white;
  text-decoration:none;
  padding-left:2vw;
  padding-right:2vw;
  border-radius:0.15rem;
  align-self: center;
  
  
}
nav li:hover{
  background-color:#45567d;
  
}
span{
  display: inline-block;

}



#welcome-section{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#303841;
  height:100vh;
  font-family:Poppins;
  color:#be3144;
}

#welcome-text-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

h1{

}
h2{
  color:white;
  margin-top:-2rem;
}

#projects{
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
    "projects-header"
    "projects-body"
    "projects-bottom";
  background-color:#45567d;
  padding:0;
  margin:0;
  width:100%;
  height:100rem;
}

header{
  display: grid;
  justify-items: center;
  align-items: center;
  font-size:2vw;
  font-family:Poppins;
  color:#be3144;
  color:#eeee00;
  grid-area: projects-header;

}


.project-tile{
  display:grid;
  grid-template-columns:1fr 1fr;
  background-color:#45567d;
  padding:0;
  margin:0;
  min-width:100%;
  height:fit-content;
  grid-area: projects-body;
}

img{
  padding:0;
  margin:0;
  width:100%;
  height:40rem;
}
#project1{
  grid-area: 1/1/2/2;
  padding:0;
  margin:0;
  
}
#project1:hover{
  
}

#project2{
  grid-area: 1/2/2/3;
  padding:0;
  margin:0;
  
}

bottom{
  display: grid;
  justify-items: center;
  align-items: center;
  font-size:2vw;
  font-family:Poppins;
  color:#be3144;
  color:#e39015;
  grid-area:projects-bottom;
}

@media(max-width:28rem) {
  nav ul {
    flex-direction: column;
    border: gold solid;
  }
  nav li {
    align-self: start;
  }
}

